@import '../../styles/utils/extends';
@import '../../styles/utils/vars';

.header {
  @extend %container;

  padding-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: end;

  gap: 40px;

  @include onDesktop {
    gap: 128px;
  }

  &__cursor {
    height: 240px;
    width: 303px;
    mask-image: url(../../../../public/images/plus.svg);
    background: white;
    // position: fixed;
    // z-index: 100;
    // top: 0;
    // left: 0;

    // pointer-events: none;

    position: fixed;
    top: 0;
    left: 0;

    // transform: translateY(50%);
  }

  &__mobileExample {
    display: flex;

    margin-top: calc(136px + 120px);

    position: relative;
    z-index: 1;

    &__text {
      min-width: 113px;
      font-size: 12px;
      line-height: 16px;

      margin-right: 25px;

      color: $gray-200-color;
    }

    &__image {
      border-radius: 30px;
      overflow: hidden;

      height: 160px;
      width: 201px;
    }
  }

  &__mainBlock {
    display: flex;
    position: relative;
    z-index: 1;

    &__titleContainer {
      width: 100%;
      gap: 125px;

      display: flex;
      justify-content: space-between;
      align-items: end;
    }

    &__text {
      max-width: 113px;
      font-size: 12px;
      line-height: 16px;

      margin-right: 25px;
      margin-top: 6px;

      & div {
        background: $primary-color;
      }
    }

    &__title {
      display: flex;

      font-size: 66px;
      // line-height: 88px;
      font-weight: 500;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      text-transform: uppercase;

      background: $primary-color;

      @include onDesktop {
        font-size: 88px;
      }
    }
  }
}
