// * {
//   box-sizing: border-box;

//   font-family: "Inter", sans-serif;
//   font-size: 16px;
//   color: $darkColor;
//   line-height: 27px;
//   scroll-behavior: smooth;
// }

@import './../utils/vars';

html, body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 20px;

  cursor: url('../../../../public/images/cursor.svg'), auto;
  background: $primary-color;
  color: $mainDark-color;
}

button {
  cursor: pointer;
}

.cursor {
  background: #000;
  height: 32px;
  width: 32px;
  border: 50%;
  position: fixed;
  top: 0;
  left: 0;
}
